@font-face {
  font-family: OpenSans;
  src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSansBold;
  src: url('fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: OpenSansExtraBold;
  src: url('fonts/OpenSans-ExtraBold.ttf');
}

body {
  margin: 0;
}

.wrapper {
  width: 399px;
  padding: 0;
  margin: 0;
  border: black solid 1px;
}

.header {
  width: 400px;
  height: 80px;
  background-image: url('images/ext-bkg.jpg');
  background-size: 400px 80px;
}

.header>div {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header img {
  /* logo-v0
    margin-top: 36px;
    height: 24px;
  */
  margin-top: 38px;
  height: 17px;
}



.found-entry {
  font-family: OpenSans;
  background-color: rgba(27, 27, 38, 0.15);
  /* height: 56px; */
  margin-bottom: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  position: relative;
}


.found-entry>span {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  display: none;
  color: green;
}

/*
.found-entry:hover {
  background-color: rgba(27, 27, 38, 0.05);
}
  */

.found-title {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
  color: #1b1b26;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.found-safe {
  font-family: OpenSans;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #1b1b26;
}

.found-totp {
  font-family: OpenSans;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #1b1b26;
  margin-right: 20px;
  margin-top: 3px;
  border-radius: 5px;
  background: white;
  text-align: center;
  padding: 5px 0;
  position: relative;
}

.found-totp:hover {
  color: green;
}

.found-totp span {
  position: absolute;
  right: 5px;
  display: none;
  font-size: smaller;
}

.found-entry:hover .found-totp span {
  display: inline;
}


.found-entry:not(:has(.found-totp:hover)):hover {
  background-color: rgba(27, 27, 38, 0.05);
}

.found-entry:not(:has(.found-totp:hover)):hover>span {
  display: inline;
}


.found-username {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #8d8d94;
}

.found-footer {
  display: flex;
  justify-content: space-between;
}

.icon-div {
  width: 20px;
  height: 20px;
}

.close-popup {
  width: 20px;
  height: 20px;
  background-image: url('images/close.svg');
  background-size: 20px 20px;
}

.close-popup:hover {
  background-image: url('images/close-hover.svg');
  background-size: 20px 20px;
}

.help {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-image: url('images/help.svg');
  background-size: 20px 20px;
}

.help:hover {
  background-image: url('images/help-hover.svg');
  background-size: 20px 20px;
}

.settings {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-image: url('images/settings.svg');
  background-size: 20px 20px;
}

.settings:hover {
  background-image: url('images/settings-hover.svg');
  background-size: 20px 20px;
}

#passhub-instance {
  margin: 20px 0 0 40px;
  font-size: 24px;
  opacity: 0.7;
  color: black;
  display: none;
}