@font-face {
  font-family: OpenSans;
  src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSansBold;
  src: url('fonts/OpenSans-Bold.ttf');
}

:root {
  --width: 400px;
  --link-color: #31ba68;
}

body {
  margin: 0;
  width: var(--width);
  position: relative;
}

#modal-mask {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 2;
}

header {
  /*  width: var(--width); */
  height: 80px;
  background-image: url('images/ext-bkg.jpg');
  background-size: var(--width) 80px;
}

header>div {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
}

header img {
  margin-top: 42px;
  height: 17px;
}

main {
  padding: 20px 40px;
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1b1b26;
  min-height: 62px;
}

.page {
  display: none;
  margin-bottom: 20px;
}

.not-a-regular-page {
  margin: 30px 0 20px;
  min-height: 62px;
  font-size: 16px;
  line-height: 26px;
  display: none;
}

#danger-http {
  background: red;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  display: none;

  font-size: 16px;
  line-height: 24px;

}

#danger-http span {
  font-size: larger;
  font-family: OpenSansBold;
}

#paygate {
  margin: 18px 40px;
  min-height: 62px;
  width: 320px;
  font-size: 16px;
  line-height: 22px;
  display: none;
}

#advice-list {
  margin-bottom: 9px;
}

.found-entry {
  background-color: rgba(27, 27, 38, 0.1);
  margin-bottom: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  position: relative;
}

.found-entry .three-dots {
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  display: none;
}

.found-entry .three-dots:hover {
  right: 3px;
}

.found-entry .three-dots:hover img {
  height: 21px;
}

.copy-dialog {
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 10px;
  padding: 10px 15px 10px 20px;
  width: 200px;
  border-radius: 5px;

  font-size: 16px;
  line-height: 32px;
  min-width: 180px;
  background-color: white;
  box-shadow: 0 4px 34px #7e7e8f47;
}

.copy-dialog div {
  cursor: pointer;
}

.copy-dialog div:hover {
  background-color: #eee;
}

.copied {
  display: none;
  height: 100%;
  width: 5em;
  background: #b3ebd0;
  position: absolute;
  top: -3px;
  left: -10px;
  align-items: center;
  color: var(--link-color);
  border-radius: 5px;
  padding: 0 0 5px 2px;
}

.copied:hover {
  font-size: 18px;
}

.found-title {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.found-safe {
  font-style: italic;
  font-size: 14px;
  line-height: 19px;
}

.found-totp {

  display: flex;
  position: relative;

  font-size: 18px;
  line-height: 27px;

  margin: 10px 20px 10px 0;
}

.found-entry:not(:has(.found-value:hover)):hover {
  background-color: rgba(27, 27, 38, 0.05);
}

.found-entry:not(:has(.found-value:hover)):hover>span {
  display: inline;
}

.found-entry .totp-value {
  position: relative;
}

.found-entry .totp-value:hover {
  color: green;
  font-size: 20px;
}

svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #aaa;
}

svg circle.otp-dial {
  stroke: #009F1E;
}

.found-username {
  font-size: 14px;
  line-height: 19px;
  color: #8d8d94;
}

.found-footer {
  display: flex;
  justify-content: space-between;
}

.icon-div {
  width: 20px;
  height: 20px;
}

.close-popup {
  width: 20px;
  height: 20px;
  background-image: url('images/close.svg');
  background-size: 20px 20px;
}

.close-popup:hover {
  background-image: url('images/close-hover.svg');
  background-size: 20px 20px;
}

.help {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-image: url('images/help.svg');
  background-size: 20px 20px;
}

#password-icon,
#credit-card {
  height: 24px;
  width: 24px;
  margin-right: 20px;
  vertical-align: text-bottom;
  fill: white;
  opacity: 0.5;
}

#password-icon:hover,
#credit-card:hover {
  opacity: 0.8;
}

.help:hover {
  background-image: url('images/help-hover.svg');
  background-size: 20px 20px;
}

.settings {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-image: url('images/settings.svg');
  background-size: 20px 20px;
}

.settings:hover {
  background-image: url('images/settings-hover.svg');
  background-size: 20px 20px;
}

#server-name-element {
  color: var(--link-color);
  margin: 0 0 10px 0;
  font-size: 16px;
  font-family: OpenSansBold;
  display: none;
}

.login-page {
  min-height: 51px;
  display: none;
}

.not-found-page {
  min-height: 62px;

  margin-left: 2px;
  margin-top: 18px;
  font-size: 16px;
  line-height: 22px;
}