@font-face {
  font-family: OpenSans;
  src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSansBold;
  src: url('fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: OpenSansExtraBold;
  src: url('fonts/OpenSans-ExtraBold.ttf');
}

body {
  margin: 0;
}

.wrapper {
  width: 399px;
  padding: 0;
  margin: 0;
  border: black solid 1px;
}

.header {
  width: 400px;
  height: 80px;
  background-image: url('images/ext-bkg.jpg');
  background-size: 400px 80px;
}

.header>div {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header img {
  /* logo-v0
    margin-top: 36px;
    height: 24px;
  */
  margin-top: 42px;
  height: 17px;
}



.found-entry {
  font-family: OpenSans;
  background-color: rgba(27, 27, 38, 0.1);
  /* height: 56px; */
  margin-bottom: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  position: relative;
}

.found-entry .three-dots {
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  display: none;
}

.found-entry .three-dots:hover {
  right: 3px;
}

.found-entry .three-dots:hover img {
  height: 21px;
}


.copy-dialog {
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 10px;
  padding: 10px 15px 10px 20px;
  width: 200px;
  border-radius: 5px;

  font-size: 16px;
  line-height: 32px;
  min-width: 180px;
  background-color: white;
  box-shadow: 0 4px 34px #7e7e8f47;
}

.copy-dialog div {
  cursor: pointer;
}

.copy-dialog div:hover {
  background-color: #eee;
}



/*
.found-entry:hover {
  background-color: rgba(27, 27, 38, 0.05);
}
  */

.found-title {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
  color: #1b1b26;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.found-safe {
  font-family: OpenSans;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #1b1b26;
}

.found-totp {

  display: flex;
  position: relative;
  color: #1b1b26;


  font-family: OpenSans;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  margin: 10px 20px 10px 0;
  /*
  justify-content: right;
  margin-right: 20px;
  margin-top: 3px;
  border-radius: 5px;
  background: white;
  text-align: center;
  padding: 5px 0;
*/
}

/*

.found-totp:hover {
  color: green;
}

.found-totp span {
  position: absolute;
  right: 5px;
  display: none;
  font-size: smaller;
  cursor: pointer;
}

.found-entry:hover .found-totp .three-dots {
  display: inline;
}

*/

.found-entry:not(:has(.found-value:hover)):hover {
  background-color: rgba(27, 27, 38, 0.05);
}

.found-entry:not(:has(.found-value:hover)):hover>span {
  display: inline;
}

.found-entry .totp-value:hover {
  color: green;
  font-size: 20px;
}

svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #aaa;
  /*  stroke-width: 20; */
}

svg circle.otp-dial {
  stroke: #009F1E;
}

.found-username {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #8d8d94;
}



.found-footer {
  display: flex;
  justify-content: space-between;
}

.icon-div {
  width: 20px;
  height: 20px;
}

.close-popup {
  width: 20px;
  height: 20px;
  background-image: url('images/close.svg');
  background-size: 20px 20px;
}

.close-popup:hover {
  background-image: url('images/close-hover.svg');
  background-size: 20px 20px;
}

.help {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-image: url('images/help.svg');
  background-size: 20px 20px;
}

.credit-card {
  height: 24px;
  width: 24px;
  margin-right: 20px;
  vertical-align: text-bottom;
  fill: white;
  opacity: 0.5;
}

.credit-card:hover {
  opacity: 0.8;
}

.help:hover {
  background-image: url('images/help-hover.svg');
  background-size: 20px 20px;
}

.settings {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-image: url('images/settings.svg');
  background-size: 20px 20px;
}

.settings:hover {
  background-image: url('images/settings-hover.svg');
  background-size: 20px 20px;
}

#passhub-instance {
  margin: 20px 0 0 40px;
  font-size: 24px;
  opacity: 0.7;
  color: black;
  display: none;
}